@import "~react-toolbox/lib/colors";

$color-primary: $palette-deep-orange-500;
$color-primary-dark: $palette-deep-orange-600;
$color-accent: $palette-blue-grey-600;
$color-accent-dark: $palette-blue-grey-700;
$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-dark-contrast;